.crop {
    overflow: hidden;
}

.stars {
    font-size: 2rem;
    width: 150px;
    margin-bottom: 0;
}

.ratingnumber{
    font-size: 1rem;
    margin-top:0;
}

div {
    margin: auto;
}

.rating{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.ratingcontainer {
    justify-self: flex-end;
}

p {
    margin-bottom: 0;
}

.ratingtitle{
    font-size: 1.2rem;
    margin-top: 0;
}

.fa-star {
    color: pink;
    cursor: pointer;
}