<div class="bookcard">
    <div class="generalbookinfo">
        <div class="heading">
            <span class="booktitle">{{title}} </span>
            <span (click)='toggleDetail()' (click)='toggleProgress()' class="progressicon">🎯</span>
        </div>
    </div>
    <section class="details">
        <div *ngIf='showDetail'>
            <span class="author">By {{author}} </span>
            <span class="date">({{releaseDate | convertToSpaces:'-'}})</span>
            <div class="space"></div>
            <pm-star 
                [goodreadsRating]='goodreadsRating' >
            </pm-star>
        </div>
        <div class="progressinfo" *ngIf='showProgress'>
            <p>Total pages: {{length}}</p>
            <label for="pagesReadInput">Pages read: </label>
            <input id="pagesReadInput" type="number" value={{pagesRead}} min="0"
            [(ngModel)]='pagesRead'>
            <button type="button" (click)="percentageCalc(pagesRead)">🤔</button>
            <p>Progress: {{percentage}}%</p>
            <pm-progressbar
                [progressAmount]="percentage"
            ></pm-progressbar>
        </div>
    </section>
</div>
